*{
    margin:0;
    padding:0;
    /* background-color: aqua; */
}
body{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}
.container-div{
    padding:30px;
    /* background-color: antiquewhite; */
    margin: auto;
    display: flex;
    flex-direction: column;
    gap:50px;
}
.form-details{
    padding-top:20px;
    padding-bottom:20px;
    padding-left: 30px;
    /* padding-left: 50%; */
    width:100vw;
    align-self: center;
    margin: auto;
    position: sticky;
    top:20px;
    left:350px;
    gap:5px;
    /* background-color: aqua; */
}
input{
    width:50%;
    /* height:20px; */
    background-color:aliceblue;
    /* color:white; */
    font-size: 16px;
    border: none;
    outline:none;
    font-style: italic;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    color:black;
}
button{
    width:20%;
    /* height:20px; */
    background-color: black;
    color:white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-style: italic;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
}
.image-div{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}
img{
    border-radius: 10px;
}
